.container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1.6rem;
    
   
  
    
}
.containerLink{
    padding: 1rem;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    text-decoration: none;
    color: var(--text-over-primary);
    transition: all 0.2s ease-in-out;
    gap: 0.4rem; 
    border-radius: 0.8rem;
}
.containerLink:hover{
    filter: brightness(50%);
}

.containerLink svg {
width: 2.4rem;
height: 2.4rem

}