.buttonContainer button {
  min-width: auto;
  margin: 0;
  padding: 1rem;
  display: inline;
}

.buttonContainer button svg {
  width: 2rem;
  height: 2rem;
}

.responsiveTable {
  overflow-x: auto;
  border-radius: 0.8rem;
}

.responsiveTable table {
  width: 100%;
  border-collapse: collapse;
  min-width: 64rem;
  font-size: 1.6rem;
}

.responsiveTable th{
  background-color: var(--gray-600);
}

.responsiveTable td{
  background-color: var(--gray-800);
}
.responsiveTable th,
.responsiveTable td {
  padding: 1.6rem;
  text-align: left;
  border-bottom: 0.2rem solid var (--gray-700);}
  
  .thSort{
    
    cursor:pointer;
    transition: all 0.1s ease-in-out;

  }

  .thSort:hover {
    filter: brightness(0.9);
  }